.main_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  background-image: url("./Login-Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999;
}
.main_container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 0;
}

.main_container .container {
  min-width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  background-color: rgba(100, 99, 99, 0.3);
  font-size: 14px;
  color: #fff;
  z-index: 100;
}

.image_logo {
  margin-bottom: 30px;
}
.image {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

button {
  background-color: #e31837; /* Red */
  width: 100%;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Roboto";
}

.forget_password a {
  color: #fff;
  text-decoration: none;
  float: right;
  margin: 10px 0px;
}
